.libtimer-form, .libtimer-lasthit {
	margin:2em auto;
	width:90%;
	padding: 2em;
	
	border:#444 1px solid;
}

.libtimer-form .widget-submitbutton {
	margin-top:1em;
}


.libtimer-log {
	width:98%;
	margin:.2em auto;
}

.libtimer-log #header_sectionHeader {
	font-weight:bold;
}